/*重置*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.clearfix:after {
  content: '';
  height: 0px;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  border: 0 none;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.pf {
  position: fixed;
}
.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.f21 {
  font-size: 21px;
}
.f22 {
  font-size: 22px;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.block {
  display: block;
}
.none {
  display: none;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
}
body {
  font-family: '微软雅黑';
  min-width: 1200px;
}
