.login {
  padding: 30px 0px 19px !important;
}
.login_logo {
  float: left;
  overflow: hidden;
  width: 74px;
}
.login_logo_right {
  float: right;
  overflow: hidden;
}
.w980 {
  width: 980px;
  margin: 0 auto;
}
.w980 .mian_left {
  float: left;
  padding-top: 23px;
  width: 600px;
  text-align: center;
}
.w980 .mian_left img {
  width: 560px;
  margin: 0 auto;
}
.w980 .login_main {
  float: left;
  width: 367px;
  height: 600px;
  padding: 0 25px;
  box-sizing: border-box;
  background: url(../image/login_icon_list.png) 0 -115px no-repeat;
}
.w980 .login_main .login_title {
  padding-top: 23px;
  padding-bottom: 26px;
  height: 38px;
  line-height: 38px;
}
.w980 .login_main .login_title h2 {
  float: left;
  color: #c41f3a;
  font-size: 22px;
  font-weight: bold;
}
.w980 .login_main .login_title .login_title_right {
  float: right;
  text-align: right;
  font-size: 12px;
  color: #8c8c8c;
}
.w980 .login_main .login_title .login_title_right a {
  color: #c41f3a;
}
.w980 .login_main .login_form {
  font-size: 12px;
}
.w980 .login_main .login_form .item {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.w980 .login_main .login_form .item .itxt {
  color: #333333;
  border: 1px solid #c8c8c8;
  height: 25px;
  line-height: 25px;
  padding: 6px 0 6px 6px;
  width: 293px;
  font-size: 12px;
}
.w980 .login_main .login_form .item .itxt_yzm {
  width: 157px;
  float: left;
}
.w980 .login_main .login_form .item .verify-code {
  margin-left: 12px;
  margin-right: 5px;
  float: left;
}
.w980 .login_main .login_form .item .err_box {
  height: 23px;
  line-height: 23px;
  margin-bottom: 3px;
  overflow: hidden;
  width: 100%;
}
.w980 .login_main .login_form .item .changeCode {
  color: #c41f3a;
  font-size: 12px;
  font-family: "宋体";
  display: block;
  float: left;
  line-height: 38px;
}
.w980 .login_main .login_form .item .forget-pw-safe {
  float: right;
  padding-right: 26px;
  padding-top: 1px;
}
.w980 .login_main .login_form .item .forget-pw-safe a {
  color: #595959;
  font-size: 12px;
}
.w980 .login_main .login_form .item .login-btn a {
  display: block;
  width: 317px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  background-color: #94193f;
  text-align: center;
  font-size: 14px;
  font-family: "宋体";
  font-weight: bold;
}
.w980 .login_main .login_form .item4 #hide_times {
  margin-left: 11px;
  color: #444444;
  font-family: "宋体";
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  outline: 0;
  display: inline-block;
  background-color: #f6f6f6;
  border: 1px solid #c8c8c8;
  width: 117px;
  height: 38px;
  line-height: 38px;
  vertical-align: top;
}
.w980 .login_main .login_form .loginWay {
  margin-top: 10px;
}
.w980 .login_main .login_form .loginWay h5 {
  color: #333;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-family: "宋体";
}
.w980 .login_main .login_form .loginWay ul {
  margin-top: 10px;
}
.w980 .login_main .login_form .loginWay li {
  display: inline-block;
  margin-right: 10px;
}
.w980 .login_main .login_form .loginWay li a {
  text-indent: -999em;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../image/login_icon_list.png) 0 0;
}
.w980 .login_main .login_form .loginWay li .qqWay {
  background-position: 0 -32px;
}
.w980 .login_main .login_form .loginWay li .blogWay {
  background-position: -74px -32px;
}
.w980 .login_main .login_form .loginWay li .taobaoWay {
  background-position: -143px -32px;
}
