.runImg {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.runImg .runImg_box{
    position: relative;
}
.runImg .runImg_box:after {
  content: '';
  height: 0px;
  display: block;
  visibility: hidden;
  clear: both;
}
.runImg .runImg_box li {
  float: left;
}
.runImg .runImg_box li img {
  display: block;
}
.runImg .flag {
  position: absolute;
  width:40%;
  margin-left:30%;
  bottom:2%;
  height:2%;
}
.runImg .flag:after {
  content: '';
  height: 0px;
  display: block;
  visibility: hidden;
  clear: both;
}
.runImg .flag li {
  float: left;
  background: #666;
  height: 100%;
}
.runImg .flag li.active{
  background:skyblue;
}
