<div class="w1200 footer_up">
  <img src="image/foot_img1.jpg" alt="">
</div>
<div class="w1200 footer_list clearfix">
  <dl>
    <dt><h5>使用帮助</h5></dt>
    <dd><a href="">税费收取规则 </a></dd>
    <dd><a href="">新手指南 </a></dd>
    <dd><a href="">常见问题 </a></dd>
    <dd><a href="">用户协议 </a></dd>
  </dl>
  <dl>
    <dt><h5>会员服务</h5></dt>
    <dd><a href="">积分政策  </a></dd>
    <dd><a href="">会员权益  </a></dd>
    <dd><a href="">会员等级  </a></dd>
  </dl>
  <dl>
    <dt><h5>支付方式</h5></dt>
    <dd><a href="">积分支付  </a></dd>
    <dd><a href="">货到付款  </a></dd>
    <dd><a href="">在线支付  </a></dd>
    <dd><a href="">优惠券支付  </a></dd>
  </dl>
  <dl>
    <dt><h5>配送方式</h5></dt>
    <dd><a href="">包邮政策   </a></dd>
    <dd><a href="">费用说明   </a></dd>
    <dd><a href="">配送说明   </a></dd>
  </dl>
  <dl>
    <dt><h5>售后服务</h5></dt>
    <dd><a href="">电子发票   </a></dd>
    <dd><a href="">售后咨询   </a></dd>
    <dd><a href="">退货办理   </a></dd>
    <dd><a href="">退货政策   </a></dd>
  </dl>
  <div class="fr footer_list_right">
    <ul>
      <li class="fl pc">
        <p class="phone_title">手机快乐购</p>
        <img src="image/footer_ewm_02.png" alt="">
        <p class="phone_bottom">下载移动客户端</p>
      </li>
      <li class="fl wechat">
        <p class="phone_title">微信快乐购</p>
        <img src="image/footer_ewm_02.png" alt="">
        <p class="phone_bottom">快乐购官方微信</p>
      </li>
    </ul>
  </div>
</div>
<div class="footer_nav">
  <p>
    <a href="">关于快乐购</a>
    <a href="">投资者关系</a>
    <a href="">商家入驻</a>
    <a href="">联系我们</a>
  </p>
</div>
<div class="footer_bottom">
  <div class="w1200">
    <p>
      <span class="font_arial">Copyright© 2006-2016 happigo. All Rights Reserved </span>免费服务热线: 400-705-1111 | 固话也可拨打: 800-705-1111
      <span class="font_arial">E-Mail: service@happigo.com</span>
    </p>
    <p>湘ICP备12000157号 信息网络传播视听节目许可证号：1810530</p>
    <p class="footer_bottom_img">
      <a href=""><img src="image/foot_img3.png" alt=""></a>
      <a href=""><img src="image/foot_img4.png" alt=""></a>
    </p>
  </div>
</div>
