<div class="top">
  <div class="w1200 clearfix"> 
      <div class="fl login">
          <span>欢迎来到欢乐购!</span>
          <a href="login.html" class="a_login">[登陆]</a>
          <a href="register.html">[注册]</a>
      </div>
      <div class="fr header_right">
          <ul class="clearfix">
            <li>
                <a href="#">订单查询</a>
                <span>|</span>
            </li>
            <li>
                <a href="#">我的欢乐购</a>
                <span>|</span>
            </li>
            <li>
                <a href="#">400-400-5561</a>
                <span>|</span>
            </li>
            <li class="download">
                <a href="#">下载快乐购app</a>
                <span>|</span>
                <div class="down_load">
                    <img src="image/down_load_20160411.png" data-imgUrl='image/down_load_20160411.png'>
                    <p>快乐生活 快乐购</p>
                </div>
            </li>
            <li class="center">
                <a href="#">客服中心</a>
                <div class="cus_center">
                    <a href="">帮助中心</a>
                    <a href="">会员反馈</a>
                </div>
            </li>
          </ul>
      </div>
  </div>
</div>
<div class="search">
  <div class="w1200 search_box clearfix">
        <div class="logo fl">
          <a href="#">
            <img src="image/logo.jpg"/>
          </a>
        </div>
        <div class="ad fl">
          <img src="image/top_center.jpg">
        </div>
        <div class="fl">
          <div class="search_input">
            <form action="" method="post" class="clearfix">
              <input class="fl input_search" type="text" name="keyword" class="text_search" placeholder="limu 胶原蛋白" value="" >
              <input class="fl input_submit" type="submit" class="btn_search" value="搜索">
            </form>
          </div>
          <div class="search_key">
            <ul class="clearfix">
              <li>
                <a href="">太阳镜</a>
              </li>
              <li>
                <a href="">蕉下</a>
              </li>
              <li>
                <a href="">果蔬脆片</a>
              </li>
              <li>
                <a href="">德亚酸牛奶</a>
              </li>
              <li>
                <a href="">蚕丝面膜</a>
              </li>
              <li>
                <a href="">山地车</a>
              </li>
              <li>
                <a href="">BB霜</a>
              </li>
              <li>
                <a href="">乳胶枕</a>
              </li>
              <li>
                <a href="">蝙蝠侠系列石英表</a>
              </li>
              <li>
                <a href="">拍立得</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="fr shopCar">
          <a href="">
            <span>我的购物车</span>
          </a>
        </div>
  </div>
</div>
<div class="nav">
    <div class="w1200">
      <ul class="list clearfix">
        <li class="li_all_type">
          <a href="">全部分类</a>
        </li>
        <li class="home">
          <a href="index.html" style="color: #C41F3A;">首页</a>
        </li>
        <li>
          <a href="list.html">精选品牌</a>
        </li>
        <li>
          <a href="globalPurchase.html">全球购</a>
        </li>
        <li>
          <a href="brand.html">品牌馆</a>
        </li>
      </ul>
    </div>
</div>
